%div.divider
%div.center
  %div.problem
    solve x + 6 = -3
  %div.divider
  %div.explanation
    I want to get the x by itself; that is, I want to get "x" on one side of the "equals" sign, and some number on the other side. Since I want just x on the one side, this means that I don't like the "plus six" that's currently on the same side as the x. Since the 6 is added to the x, I need to subtract to get rid of it. That is, I will need to subtract a 6 from the x in order to "undo" having added a 6 to it.
  %div.divider
  %div.explanation
    This brings up the most important consideration with equations: No matter what kind of equation you're dealing with -- linear or otherwise -- whatever you do to the one side, you must do the exact same thing to the other side! Equations are like toddlers in this respect: You have to be totally, totally fair!
  %div.divider
  %div.image
    = image_tag("solution.gif", alt: "Solution")