<table class="table table-striped">
	<thead>
		<tr>
			<th>Question</th>
			<th>Solution</th>
			<th>Author</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Solve for x: 3x + 10 = 0</td>
			<td>x = - 10/3</td>
			<td>James Brown</td>
		</tr>
		<tr>
			<td>Solve for y: -5x + 2y = 4</td>
			<td>y = 2.5x + 2</td>
			<td>Mark Smith</td>
		</tr>
		<tr>
			<td>Solve for y: 5x - 5y = 10</td>
			<td>y = x - 2</td>
			<td>Hunter S. Thompson</td>
		</tr>
	</tbody>
</table>
