%br
%input.form-control{:placeholder => "Solution Step", :type => "text"}/
%br
%input.form-control{:placeholder => "Solution Step", :type => "text"}/
%br
%input.form-control{:placeholder => "Solution Step", :type => "text"}/
