
%h2 Algebra

.modal.fade.modal-submit-question(tabindex="-1" role="dialog" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header Submit Problem
      .modal-body
        %form{:role => "form"}
          .form-group
            %label{:for => "Problem"} Problem
            %input.form-control{:placeholder => "Enter Problem", :type => "text"}/
          .form-group#solution-steps
            %label{:for => "solutionStep"}
              Solution Steps
              %a#step{href:"#"} (+)
            %input.form-control{:placeholder => "Solution Step", :type => "text"}/
          .form-group
            %label{:for => "solution"} Solution
            %input.form-control{:type => "text", :placeholder => "Solution Step"}/
      .modal-footer
        %button.btn.btn-primary{:type => "submit"} Submit




%table.col-md-12.table-hover
  %thead
    %tr
      %th( width="75%")
        %h4 Lesson
      %th( width="25%")
        %h4 Progress
  %tbody
    %tr
      %td(width="75%") Solving for one variable using addition
      %td(width="25%")
        .btn.btn-default Review Grades
    %tr
      %td(width="75%") Solving for one variable using subtraction
      %td(width="25%")
        .btn.btn-default(href="#" style="opacity: 0.9;" data-toggle="modal" data-target=".modal-submit-question") Submit Question
    %tr
      %td.text-muted(width="75%") Solving for one variable using multiplication
      %td(width="25%")
        .btn.btn-default.disabled Not Available
    %tr
      %td.text-muted(width="75%") Solving for one variable using multiplication
      %td(width="25%")
        .btn.btn-default.disabled Not Available
