
%h2 Algebra

%table.table-hover
  %thead
    %tr
      %th.col-md-8
        %h4 Lesson
      %th.col-md-4
        %h4 Progress
  %tbody
    %tr
      %td.col-md-8 Solving for one variable using addition
      %td.col-md-4
        .btn.btn-default Review Grades
    %tr
      %td.col-md-8 Solving for one variable using subtraction
      %td.col-md-4
        .btn.btn-default Submit Question
    %tr
      %td.col-md-8.text-muted Solving for one variable using multiplication
      %td.col-md-4
        .btn.btn-default.disabled Not Available
    %tr
      %td.col-md-8.text-muted Solving for one variable using multiplication
      %td.col-md-4
        .btn.btn-default.disabled Not Available
