%h3 Class Grades
%div.divider
%div.center
	%ul.list-group
		%li.list-group-item
			%span.badge.badgeHeight 78
			Algebra
			.progress.progressMargin
				.progress-bar{:style => "width: 78%"}
		%li.list-group-item
			%span.badge 85
			Geometry
			.progress.progressMargin
				.progress-bar{:style => "width: 85%"}
		%li.list-group-item
			%span.badge 92
			Pre-Calculus
			.progress.progressMargin
				.progress-bar{:style => "width: 92%"}
