.row
  %h2.text-center Question Review
.row
  .col-md-1
  .col-md-5.quiz-problem
    %ul.list-group
      %li.list-group-item.clearfix
        %h5.text-center
          Problem
        %p.problem-text 3x+4=10
      %li.list-group-item.clearfix
        %h5.text-center Solution Steps
        %p 1. 3x=10-4
        %p 2. 3x=6
        %p 3. x=2
      %li.list-group-item.clearfix
        %h5.text-center Answer
        x=2
  .col-md-5
    .panel.panel-default
      .panel-heading
        Question Guidelines
      .panel-body
        %p
          %i.fa.fa-thumbs-o-up
          %i.fa.fa-thumbs-o-down
        %p
          %input(type="checkbox")
          %input(type="checkbox")
          &nbsp
          &nbsp
          Contains between 4-6 terms
        %p
          %input(type="checkbox")
          %input(type="checkbox")
          &nbsp
          &nbsp
          Only uses the addition/subtraction operands
        %p
          %input(type="checkbox")
          %input(type="checkbox")
          &nbsp
          &nbsp
          Uses integers between 0-20
        %p
          %input(type="checkbox")
          %input(type="checkbox")
          &nbsp
          &nbsp
          Uses only one variable
        %div
          %p.text-center Comments
          %form(action="/rejected" method="GET")
            %textarea.form-control(rows="3" name="comment")
            .pull-right(style="margin-top: 5%;")
              %a.btn.btn-success(href="#" style="opacity: 0.9;") Approve Question
            .pull-left(style="margin-top: 5%;")
              %input.btn.btn-danger(type="submit" value="Reject Question")
  .col-md-1
