.row
  %h2.text-center Question Review
.row
  .col-md-1
  .col-md-5.quiz-problem
    %ul.list-group
      %li.list-group-item.clearfix
        %h5.text-center
          Problem
        %p.problem-text Rectangle ABCD has a perimeter of 26. The half circle with diameter AD has an area of 8π. What is the perimeter of the part of the figure that is not shaded?
      %li.list-group-item.clearfix
        %h5.text-center Solution Steps
        %p 1.
        %p 2.
        %p 3.
        %p 4.
      %li.list-group-item.clearfix
        %h5.text-center Answer
        Answer Text
    .pull-left
      %a.btn.btn-danger(href="#" style="opacity: 0.9;") Reset Problem
    .pull-right
      %a.btn.btn-success(href="#") Submit
  .col-md-5
    .panel.panel-default
      .panel-heading
        Question Guidelines
      .panel-body
        %p
          %input(type="checkbox")
          Contains between 4-6 terms
        %p
          %input(type="checkbox")
          Only uses the addition operand

  .col-md-1

