
%div.center

  %h1 Teacher Dashboard

  %div{:style => "height:25px;"}

  %table.table-hover    
    %thead
      %tr
        %th.col-md-8.shorterCol
          %h4 Select Subject
        %th.col-md-5
          %ul.nav.nav-pills
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Algebra
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{"data-toggle" => "tab", :href => ""} Algebra
                %li.divider
                %li
                  %a{"data-toggle" => "tab", :href => ""} Geometry
      %tr
        %th.col-md-8.shorterCol
          %h4 Select Lesson
        %th.col-md-8
          %ul.nav.nav-pills
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Solving for one variable using Addition 
                %span.caret
              %ul.dropdown-menu
                %li
                  %a#complete{"data-toggle" => "tab", :href => ""} Solving for one variable using addition
                %li.divider
                %li
                  %a#progress{"data-toggle" => "tab", :href => ""} Solving for one variable using subtraction
        %th.btn.btn-success.btn-sm.teacherProgress Completed

  %div.completedQuestionBank

  %div.inProgressQuestionBank