:css
  .teacherLesson {
   height: 60px;
  }
  .teacherProgress {
   width: 117px;
  }
  .center {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .shorterCol {
    width: 200px;
  }
%div.center

  %h1 Teacher Dashboard

  %table.table-hover
    %thead
      %tr
        %th.col-md-8.shorterCol
          %h4 Select Subject
        %th.col-md-5
          %ul.nav.nav-pills
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Algebra
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to "Algebra", quiz_path
                %li.divider
                %li
                  %a{"data-toggle" => "tab", :href => ""} Geometry

  %div{:style => "height:25px;"}


  %table.table-hover
    %thead
      %tr
        %th.col-md-8
          %h4 Lesson
        %th.col-md-4
          %h4 Progress
    %tbody
      %tr.teacherLesson
        %td.col-md-8 Solving for one variable using addition
        %td.col-md-4
          .btn.btn-success.teacherProgress Completed
      %tr.teacherLesson
        %td.col-md-8 Solving for one variable using subtraction
        %td.col-md-4
          .btn.btn-primary.teacherProgress In Progress
      %tr.teacherLesson
        %td.col-md-8 Solving for one variable using multiplication
        %td.col-md-4
          .btn.btn-default.teacherProgress Assign Later
      %tr.teacherLesson
        %td.col-md-8 Solving for one variable using multiplication
        %td.col-md-4
          .btn.btn-default.teacherProgress Assign Later
