/* General */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* Navbar */
#logo {
	margin-top: 5px;
}


/* parent css */

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.divider {
	height: 25px;
}

.progressMargin {
	margin-top: 20px;
	margin-bottom: 20px;
}