/* General */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


/* Navbar */
#logo {
	margin-top: 5px;
}



/* custom css - chuya */

 .teacherPetitionTitle {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .teacherPetitionProblem {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .teacherProgress {
   width: 117px;
  }
  .center {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .shorterCol {
    width: 200px;
  }
  .submittedSol{
    background-color: #f0ad4e;
  }
  .answerKey, .studentSolRight{
    background-color: #66FF66;
  }
  
  .studentSolWrong {
  	background-color: #d9534f;
  }


  .studentLesson {
   height: 60px;
  }
  .studentProgress {
     width: 152px;
  }
  .viewGradeBtnAdjust {
  	margin-top: -21px;  	
  }
  .petitionBtnAdjust {
  	margin-top: -43px;
  }

  .graph{
    width:80%; 
    margin-left: auto; 
    margin-right: auto;
  }