/* General */
html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.inline {
	display: inline;
}

/* Navbar */
#logo {
	margin-top: 5px;
}
